<%- include("header") -%>
    <div class="mainbody">
        <div class="box" id="heading">
            <h1>
                <%= listTitle %>
            </h1>
        </div>

        <div class="box">

            <% newListItems.forEach(function(item) { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=item._id %>" onchange="this.form.submit()">
                        <p class="listitem">
                            <%=  item.name  %>
                        </p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>"></form>
                </input>
                </form>
                <% }) %>

                    <form class="item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                        <button type="submit" name="list" class="btn btn-danger" value="<%= listTitle %>">Add</button>
                    </form>
        </div>
    </div>

    <%- include("footer") -%>